@page
@using EduTic.App.Dominio
@model EduTic.App.Presentacion.Pages.Asignar_ActividadModel
@{
    ViewData["Title"] = "Asignar Actividad";
}
    <head>
        <link rel="stylesheet" href="~/css/Asignar_Actividad.css" />
    </head>

    
    <ol class="breadcrumb">
        <li class="breadcrumb-item active">Sección Asignar Actividad</li>
    </ol>

    <ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link active" aria-current="Asignar_Actividad" href="#">Agregar</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="Listar">Listar</a>
    </li>
    </ul>
<div class="card container justify-content-center aling-items-center" style="width: 42rem;">
<div class="card-body">

        @* <div class="border">
            <div class="container ">
                <form method="post">
                    <div class="row">
                        <label for="">Ingrese el Correo</label>
                        <input asp-for="profesor.email">
                        <br>
                        <input type="submit" value="Consultar" class="btn btn-primary form-control">
                    </div>
                    <br>
                            <div class="form-group" >
                                <div class="row">
                                    <div class="col-sm-2">
                                        <label asp-for="profesor.grado"></label>
                                    </div>
                                    <div class="col-sm-4">
                                        <input asp-for="profesor.grado" class="form-control">
                                    </div>
                                </div>
                            </div>  
                </form>
            </div>
        </div> *@
<br>
<br>
        <div>
            <form method="post" asp-page-handler="Archivo">
                @* <input asp-for="profesor.materiaP" type="text"> *@
                <div class="mb-2 row">
                    <label for="inputPassword" class="h3 col-sm-2 col-form-label">Actividad</label>
                    <div class="col-sm-7">
                        <input type="text" class="form-control form-control-sm" id=""  sp-for="actividad.nombreActividad" >
                    </div>
                </div>
                <div class="mb-2 row">
                    <label for="inputPassword" class="h3 col-sm-2 col-form-label">Descripcion</label>
                    <div class="col-sm-7 form-floating">
                        <textarea  v-model="novedad.novedad" class="form-control form-control-sm" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px"></textarea>
                        <label for="floatingTextarea2"  sp-for="actividad.descripcion" >Comments</label>
                    </div>
                </div>
                    <div class="mb-2 row">
                    <label for="inputPassword" class="h3 col-sm-2 col-form-label">Archivo</label>
                    <div class="col-sm-7">
                        <input type="file" class="form-control form-control-sm" id="archivo" asp-for="actividad.archivoP">
                    </div>
                    </div>
            
                
                
                <button type="submit" class="btn btn-outline-primary">Asignar Actividad</button>
                
            </form>
        </div>
    </div>
</div>
