@page
@model EduTic.App.Presentacion.Pages.ListarModel
@{
    ViewData["Title"] = "Asignar Actividad";
}
  <head>
      <link rel="stylesheet" href="~/css/Asignar_Actividad.css" />
  </head>
  <ol class="breadcrumb">
      <li class="breadcrumb-item active">Sección Listar</li>
  </ol>

  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link"  href="Asignar_Actividad">Agregar</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="Listar">Listar</a>
    </li>
  </ul>

  <table class="table">
    <tr>
        <td>Nombre Actividad</td>
        <td>Descripcion</td>
        <td>Archivo</td>
        <td>Eliminar</td>
    </tr>
    @foreach (var x in Model.listaActividad)
    {
        <tr>
            <td>@x.nombreActividad</td>
            <td>@x.descripcion</td>
            <td>@x.archivoP</td>
            <td><a class="btn btn-secondary" asp-page="/Profesor/Consulta" asp-route-pacienteId="">Eliminar</a>
            </td>
            <td><a class="btn btn-success" asp-page="/Profesor/Edicion" asp-route-pacienteId="">Editar</a></td>
        </tr>
    }
</table>
      
