@page
@model EduTic.App.Presentacion.Pages.Asignar_ActividadModel
@{
    ViewData["Title"] = "Asignar Actividad";
}
  <head>
      <link rel="stylesheet" href="~/css/Asignar_Actividad.css" />
  </head>
  <ol class="breadcrumb">
      <li class="breadcrumb-item active">Sección LIstar</li>
  </ol>

  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link"  href="Asignar_Actividad">Agregar</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="Listar">Listar</a>
    </li>
  </ul>
      
