@page
@model EduTic.App.Presentacion.Pages.LoguinModel
@{

    ViewData["Title"] = "Homeee";
}
<head>
    <link rel="stylesheet" href="~/css/Loguin.css" />
</head>

<h1>LOGIN</h1>

<div>
    <div>
        <img src="" alt="imagenPrincipal">
    </div>

    <div>
        <form>
            <div>
                <label>Usuario</label>
                <input type="text" id="txt_user" name="txt_user" placeholder="Usuario">
            </div>

            <div>
                <label>Contraseña</label>
                <input type="text" id="txt_user" name="txt_user" placeholder="Contraseña">
            </div>

            <div>
                <button type="button" id="btn_iniciarSesion">Iniciar Sesion</button>
            </div>
        </form>

    </div>
</div>